@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f7d8d2;
  }

  .container {
    margin: 30px 90px;
    margin-bottom: 300px;
  }

  .container-2 {
    background-color: white;
  }

  .container-3 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 130px;
  }

  .signup {
    width: 650px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    padding: 70px 30px;
  }

  .signin {
    width: 650px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 30px;
    background-color: #f47373;
  }

  .signup .icons {
    color: white;
  }

  .signup p {
    color: white;
  }

  .signup h1 {
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .signup input {
    border: 1px solid #f47373;
    background-color: black;
    text-align: center;
    padding: 4px 60px;
    margin-bottom: 5px;
    color: white;
  }

  .signin h1 {
    margin-bottom: 30px;
    font-size: 20px;
  }

  .signin input {
    border: 1px solid #000;
    background-color: #f47373;
    text-align: center;
    padding: 4px 60px;
    color: white;
    margin-bottom: 10px;
  }

  .btn4 button {
    padding: 7px 60px;
    border-radius: 50px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #f47373;
    font-weight: 800;
    margin-bottom: 40px;
  }

  .btn4 button:hover {
    border: none;
    color: black;
    background-color: #f7d8d2;
  }

  .btn3 button {
    padding: 7px 60px;
    border-radius: 50px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #f7d8d2;
    font-weight: 800;
    margin-bottom: 40px;
  }

  .btn3 button:hover {
    border: none;
    color: white;
    background-color: #f47373;
  }

  .signup h1 span {
    text-align: center;
    display: block;
    color: white;
  }

  .signup .end {
    margin-bottom: 10px;
  }

  .signup .endup {
    margin-bottom: 10px;
  }

  .content-2 {
    margin: 0 120px;
    padding: 0 200px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .content-3 {
    margin: 0 120px;
  }

  .content-3 p {
    font-size: 16px;
    font-family: 'Montserrat';
    text-align: center;
    padding-bottom: 100px;
  }
  
  .logo {
    display: flex;
    gap: 10px;
  }

  .logo-brand i {
    font-size: 40px;
  }

  .logo-text i {
    font-size: small;
  }

  .logo-text p {
    font-family: 'Montserrat', sans-serif;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  nav ul li {
    list-style: none;
    cursor: pointer;
  }

  nav ul {
    display: flex;
    gap: 40px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    margin: 0px 80px;
    margin-top: 100px;
  }

  .heading {
    margin-top: 40px;
  }

  .heading h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .heading h1 span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: block;
  }

  .btn {
    margin-top: 48px;
  }

  .btn button {
    padding: 7px 18px;
    border-radius: 50px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #f7d8d2;
    font-weight: 800;
  }

  .btn2 {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }

  .btn2 button {
    padding: 7px 18px;
    border-radius: 50px;
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
    font-weight: 800;
  }

  .btn2 button:hover {
    border: none;
    color: white;
    background-color: #f47373;
  }

  .btn button:hover {
    border: none;
    color: white;
    background-color: #f47373;
  }

  .box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;
  }

  .box1 {
    height: 100px;
    width: 150px;
  }

  .box2 {
    height: 100px;
    width: 150px;
  }

  .box3 {
    height: 100px;
    width: 150px;
  }
